<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.web>
    <compilation targetFramework="4.0" />

    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/index.html" />
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Https" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://urgetruck.com" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>